#but_soiree, #but_amis, #but_reporter, #but_minijeux{
    
    font-size: 20px;
    border-radius: 10px;
    width: 200px;
    height: 200px;
    
}

#but_amis, #but_soiree{
	background: #3498db;
}

#but_reporter, #but_minijeux{
	background : #95a5a6;
	border-color: #95a5a6;
}