#but_soiree, #but_amis, #but_reporter, #but_minijeux{
    
    font-size: 20px;
    border-radius: 10px;
    width: 200px;
    height: 200px;
    
}

#but_amis, #but_reporter{
	background: #3498db;
}

#but_soiree, #but_minijeux{
	background : #95a5a6;
	border-color: #95a5a6;
}

.col-md-6{
padding-bottom: 5px;
}

.col-md-4{
	background: #e74c3c;
	margin: 20px;
}

h1{
	text-align: center;
	margin: auto;
	padding: 25px;
}



