<!DOCTYPE html>
<html lang="en">
<link href="css/evenements.css" rel="stylesheet">

{% include "header.html" %}

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
   integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
   crossorigin=""/>

<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"
      integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
      crossorigin=""></script>

<style type="text/css">
#mapid { height: 50vh; width : 90vw;}
footer {
  bottom: 0;
  position: absolute;
  width: 100%;
}
</style>


<body id="page-top">

  <!-- Navigation -->

  {% include "navbar.html" %}

  <header class="masthead">
  <div class="intro-body">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <select class="form-control form-control-md" id="type_accident">
          <option selected>Type de l'accident ?</option>
          <option>Accident</option>
          <option>Feu</option>
          <option>Météorites</option>
          <option>Destruction de l'univers</option>
        </select>
        <select class="form-control form-control-md" onchange="remplissageAuto(this);" id="rayon_accident" name="rayon_accident">
          <option selected value="0">Rayon de la perturbation ?</option>
          <option value="500">1km - 2km</option>
          <option value="1000">2km - 5km</option>
          <option value="5000">10km - 50km</option>
          <option value="100000000">Toute la Terre</option>
        </select>
        <button id="submit" type="submit" onclick="return false" class="btn btn-default">Valider</button>

      </div>
    </div>
  </div>
  <br>
  <div id="mapid"  style = "width: 90%; margin: auto; "></div>

    <!-- Footer -->
    {% include "footer.html" %}
     <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"
      integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
      crossorigin=""></script>
  </body>

  </html>

  <script>
  $(document).ready(function(){
     $("#submit").click(function(){
       console.log($("#rayon_accident").val());
      	$.post(
      			'api.php?event/add',
      			{
      					lat : circle._latlng.lng,
      					long : circle._latlng.lat,
      					date : "NOW()",
      					description : "NYI",
      					type : $("#type_accident").val(),
      					user : "{{login}}",
      					rayon : $("#rayon_accident").val()
      			},
      			function(data){
              console.log(data);
      				var json_obj = $.parseJSON(data);
      			},
      			'text'
      	 );
      });
    });
  $.get("http://ipinfo.io", function (response) {
  	 var pos = response.loc.split(",", 2);

  	 mymap = L.map('mapid').setView([pos[0], pos[1]], 13);
  	 mymap.on('click', onMapClick);
  	 L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
  	  	maxZoom: 18,
  	  	attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
  	  	'<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
  	  	'Imagery © <a href="http://mapbox.com">Mapbox</a>',
  	  	id: 'mapbox.streets'
  	}).addTo(mymap);
  }, "jsonp");

  var circle = L.circle([0, 0], {
    color: 'red',
    fillColor: '#f03',
    fillOpacity: 0.5,
    radius: 500
  });

  function onMapClick(e) {
     circle
      .setLatLng(e.latlng)
      .setRadius($("#rayon_accident").val())
      .addTo(mymap);
  }
</script>
