
<!DOCTYPE html>
<html lang="en">

{% include "header.html" %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
crossorigin=""/>
<style type="text/css">
#mapid { height: 60vh; width : 90vw;}
</style>
<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"
integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
crossorigin=""></script>
<link href="css/grayscale.css" rel="stylesheet">


<link href="css/meteo.css" rel="stylesheet">


<body id="page-top">

  <!-- Navigation -->

  {% include "navbar.html" %}

  <!-- Intro Header -->
  <header class="masthead">
    <br>
    <br>
    <div class="intro-body" style="padding-top: 10vh">
      <div style = "width: 90%; margin: 0 auto;">
        <div id="mapid"></div>
        <script>

        // changer le setView[] pour mettre la position de la map par default
        $.get("http://ipinfo.io", function (response) {

         var pos = response.loc.split(",", 2);

         var mymap = L.map('mapid').setView([pos[0], pos[1]], 13);
         mymap.id = "mymap";

         L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
          maxZoom: 18,
          id: 'mapbox.streets'
        }).addTo(mymap);

        //AJAX request
        $(document).ready(function(){
         $.get(
           'api.php?event/-1',

           function(data){
             var json_obj = $.parseJSON(data);



             for(var i = 0; i < json_obj.length; i++){
               var circle = L.circle([json_obj[i]["long"], json_obj[i]["lat"]], {
                 color: 'red',
                 fillColor: '#f03',
                 fillOpacity: 0.5,
                 radius: json_obj[i]["rayon"]
               });

               circle.addTo(mymap);
             }
           },
           'text'
           );

       });

      }, "jsonp");



    </script>


    <p class="intro-text"></p>

    <a href="#about" class="btn btn-circle js-scroll-trigger">

      <i class="fa fa-angle-double-down animated"></i>
    </a>
  </div>
  <br>
  <h4>METEO</h4>


</div>
</header>




<!-- Meteo -->


<div class="container">

<section id="about" class="content-section text-center">

 <div class="container" style="margin: auto auto; max-width: 400px;">


  <div id="card" class="weater">
    <div class="city-selected">
      <article>

        <div class="info">
          <div class="city"><span>Ville :</span> {{param.nom}}</div>
          <div class="night">Humidité - {{param.humidite}}%</div>
          <div class="night">Pression - {{param.pression}}</div>

          <div class="temp">{{param.temp}}°</div>
          <div class="icon" style="float: right;">

            <g>
             <img id="logo" src={{param.image}}>
           </svg>
         </div>
         <br>
         <br>
         <div class="wind" ">
          <g >
            <g>
              <g>
                <img id="vent" src="img/wind.png">
              </g>
            </g>
          </g>

          <span>{{param.speed}} km/h</span>
        </div>
      </div>


    </article>

  </div>
</div>

</div>

</section>

</div>

<!-- Footer -->
{% include "footer.html" %}


</body>

</html>
