

<link href="css/meteo.css" rel="stylesheet">

<section id="about" class="content-section text-center">

 <div class="container" style="margin: auto auto; max-width: 400px;">


  <div id="card" class="weater">
    <div class="city-selected">
      <article>

        <div class="info">
          <div class="city"><span>Ville :</span> Skopje</div>
          <div class="night">Humidité - 30%</div>
          <div class="night">Pression - 10</div>

          <div class="temp">3°</div>
          <div class="icon" style="float: right;">

            <g>
             <img id="logo" src="img/snowflake.png">
           </svg>
         </div>
         <br>
         <br>
         <div class="wind" ">
          <g >
            <g>
              <g>
                <img id="vent" src="img/wind.png">
              </g>
            </g>
          </g>

          <span>25 km/h</span>
        </div>
      </div>


    </article>

    <!-- <figure style="background-image: url(http://136.243.1.253/~creolitic/bootsnipp/home.jpg)"></figure> -->
  </div>
</div>

</div>

</section>