<link href="css/navbar.css" rel="stylesheet">
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
	<div class="container">
		<button type="button" class="btn btn-danger btn-lg" onclick="location.href = 'urgence.php';">URGENCE</button>
		<img src="img/icon.png" style="height: 5vh">
		<button type="button" class="btn btn-secondary" onclick="location.href = 'connexion.php';">{{login}}</button>
	</div>
</div>
</nav>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
